
<html><head><link rel="stylesheet" href="/static/style.css"></head>
<body>
<div class="top">
<div>🎰 Malote do Davi</div>
<div>Saldo: {{coins}} MaloteCoins |
<a class="btn" href="#">Depositar (zoeira)</a>
<a class="btn" href="#">Sacar (zoeira)</a>
<a class="btn" href="/logout">Sair</a></div>
</div>
<div class="container">
<div class="card">
<h2>Bem-vindo, {{user}}</h2>
<p>Maior plataforma financeira duvidosa da galáxia.</p>
<a class="btn" href="/spin">Girar Slot (+100 moedas)</a>
</div>
</div>
</body></html>
